.myimage
{
    height: 50px;
    width: 60px;
    margin-left: 120px;
    border-radius: 60%;
    margin-top: 20px;
}
.blckhead
{
    margin-left: 85px;
    
}
.butn1
{
    margin-left: 35px;
    border-radius: 20px;
    width: 90px;
}
.butn2
{
    margin-left: 180px;
    margin-top: -50px;
    border-radius: 20px;
}
.col-sm-24
{
    background: rgb(255, 245, 245);
}
.offercoupen
{
    margin-left: 30px;
    height: 190px;
    margin-top: 50px;
}
.myhome-block
{
color:red;
background-color: white;
height: 80px;
border-style: solid;
border-color: red;
font-weight: bold;
font-size: 30px;
}
.div1
{
    float:left;
    border-left: 3px solid green;
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.div2
{
    float:left;
    border-left: 3px solid green;
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.div3
{
    float:left;
    border-left: 3px solid green;
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.div4
{
    float:left;
    border-left: 3px solid green;
    border-right: 3px solid green;
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.slider-item
{
    height: 350px;
}
.slide3
{
    /*border: solid;*/
    width: 50%;
    margin-left: 300px;
    margin-top: -130px;
    height: 110px;
}
.slide31
{
   /* border: solid;*/
    height: 100px;
    float: left;
    width: 140px;
   /* border-left: 3px solid blue;*/
}
.slide32
{
   /* border: solid;*/
    height: 100px;
    float: left;
    width: 140px;
    border-left: 3px solid blue;
}
.slide33
{
   /* border: solid;*/
    height: 100px;
    float: left;
    width: 140px;
    border-left: 3px solid blue;
}
.slide34
{
   /* border: solid;*/
    height: 103px;
    float: left;
    width: 164px;
    border-left: 3px solid blue;
}
.popup,content
{
display : none;
}
.myclass
{
    width: 50%;
}
.myclass1
{
    width: 50%;
    margin-left: 640px;
    margin-top: -410px;
}
.mytestclass
{
width:200px !important;
}
.mybrandclass
{
padding-left: 5px;
width: 230px;
border: solid;
margin-left: 20px;
margin-top: 20px;
border-style: groove;
}
.mybrandclass1
{
margin-left: 90px;
}
.fhead1
{
margin-top: 65px;
font-size: 20px;
margin-left: 10px;
}
.icon-font,pe-7s-ticket
{
margin-left: 110px;
margin-top: 10px;
}
.text1
{
margin-top: -20px;
}
.myspace
{
border-left: 3px solid blue;
}
.myspace1
{
border-left: 3px solid blue;
height: 210px;
}
.fhead12
{
margin-left: 25px;
}
.text12
{
margin-top: -15px;
}
.myspace2
{
border-left: 3px solid blue;
height: 210px;
}
.head13
{
margin-left: -10px;
}
.myspace3
{
border-left: 3px solid blue;
border-right: 3px solid blue;
}
.mydiv
{
border-style: groove;
/*height: 150px;*/
margin-left: 30px !important;
margin-top: 20px !important;
margin-bottom: 20px !important;
}
.mytestclass
{
border: solid 2px;
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px !important;
border-style: groove;
}
.box-cate-products
{
border-radius: 25px;
border: 2px solid brown;
padding: 10px;
}
.myrow
{
margin-left: 340px !important;
}
.fimg
{
width: 100px;
height: 50px;
}
.fimg1
{
width: 100px;
height: 50px;
margin-left: 45px;
margin-top: -50px;
}
.fimg2
{
width: 100px;
height: 50px;
margin-left: 87px;
margin-top: -50px;
}
.fmain
{
/*border: solid;*/
margin-left: -400px;
width: 150px;
}
.flashtop
{
height: 70px;
width: 100%;
}
.flashb
{
color:red;
}
.flash2
{
margin-left: 170px;
margin-top: -45px;
}
.flashtopblock
{
border: groove;
height: 70px;
}
.fbcontent1
{
    border: solid;
    float: left;
    width: 120px;
    height: 70px;
    margin-left: 30px;
}
.mainflash
{
border-radius: 25px;
border: 4px solid brown;
padding: 10px;
margin-top: 20px;
}
.mainflashhead
{
    height: 40px;
    font-size: 25px;
    margin-left: 10px;
    color: #0033ff;
}
.disclass1
{
margin-left: 90px;
margin-top: -17px;
color: red;
}
.imgfooter
{
    width: 100%;
}
.partnerfooter
{
border: solid;
background-color: orange;
height: 160px;
}
.regcust
{
float: left;
    margin-left: 60px;
    font-size: 30px;
}
.regsign
{
    margin-left: 30px !important;
    font-size: 30px;
}
.proimg
{
    width: 100%;
    height: 260px;
}
.buyermainhead
{
margin-left: 450px;
margin-top: 20px;
}
.buyerfirstpara
{
width: 50%;
    margin-left: 450px;
}
.headpara
{
    margin-top: -90px;
}
.buyersecondpara
{
float: left;
    width: 30%;
}
.buyersecondmain
{
    margin-top: 240px;
}
